nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
    a.navbar-brand(href='#')
        i.fas.fa-music
        |  NhacCuaTui
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        form.form-inline.mx-auto.custom-search-width
            .input-group.position-relative.w-100
                input.form-control.search-input(type='search', placeholder='Search for songs, artists...', aria-label='Search')
                button.btn-search(type='submit')
                    i.fas.fa-search
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href='#')
                    i.fas.fa-home
                    |  Home
            li.nav-item
                a.nav-link(href='#')
                    i.fas.fa-play-circle
                    |  Playlist
            li.nav-item
                button.btn.nav-login.ml-2(type='button') &Dstrok;&abreve;ng Nh&#x1EAD;p
            li.nav-item.ms-2
                button.btn.btn-primary.ml-2(type='button') &Dstrok;&abreve;ng k&yacute;