extends ../../layouts/my-account
block main
    .col-md-9
        h3.text-primary LỊCH SỬ NGHE NHẠC
        .d-flex.justify-content-between.mb-3
            .form-check.delete-check
                input#select-all.form-check-input(type='checkbox')
                a(id="btnRemoveAll" href="javascript:;" class="btn_delete_checkbox ms-2") Xóa
        ul.list-group
            li.list-group-item.d-flex.align-items-center.justify-content-between
                .d-flex.align-items-center
                    input.form-check-input.me-3(type='checkbox')
                    div
                        strong B&#x1EAD;t Nh&#x1EA1;c L&ecirc;n
                        br
                        small.text-muted HIEUTHUHAI, Harmonie
                .text-muted
                    i.bi.bi-clock.me-1
                    | 15:28 - 17/11/2024
                a(id="btnRemoveAll" href="javascript:;" class="btn_delete_checkbox") Xóa
            li.list-group-item.d-flex.align-items-center.justify-content-between
                .d-flex.align-items-center
                    input.form-check-input.me-3(type='checkbox')
                    div
                        strong B&#x1EAD;t Nh&#x1EA1;c L&ecirc;n
                        br
                        small.text-muted HIEUTHUHAI, Harmonie
                .text-muted
                    i.bi.bi-clock.me-1
                    | 15:28 - 17/11/2024
                a(id="btnRemoveAll" href="javascript:;" class="btn_delete_checkbox") Xóa
            li.list-group-item.d-flex.align-items-center.justify-content-between
                .d-flex.align-items-center
                    input.form-check-input.me-3(type='checkbox')
                    div
                        strong B&#x1EAD;t Nh&#x1EA1;c L&ecirc;n
                        br
                        small.text-muted HIEUTHUHAI, Harmonie
                .text-muted
                    i.bi.bi-clock.me-1
                    | 15:28 - 17/11/2024
                a(id="btnRemoveAll" href="javascript:;" class="btn_delete_checkbox") Xóa
                
