extends ../../layouts/my-account
block main
  .col-md-9
    h3.text-primary Quản Lý Tài Khoản
    .row
      .col-md-6
        .card.mb-3
          .card-header Giới thiệu
          .card-body
            p Họ và tên: Long Phạm
            p Ngày sinh: 01/01/1970
            p Giới tính: Khác
            p Điện thoại:
            p Địa chỉ:
            p Tỉnh thành:
            p Số CMND:
            p Giới thiệu:
        .card
          .card-header Tài khoản
          .card-body
            p Tên tài khoản: #{user.fullName}
            p
              | Mật khẩu: 
              a(href='/user/password/forgot') Đổi mật khẩu
            p
              | Email: #{user.email}
      .col-md-6
        .row
          .col-6
            .card.text-center.mb-3
              .card-body
                h5 Playlist
                .display-4 1
                p playlist
          .col-6
            .card.text-center.mb-3
              .card-body
                h5 Video
                .display-4 0
                p video