extends ../../layouts/my-account
block main
  .col-md-9
    h3.text-primary Quản Lý Tài Khoản
    .row
      .col-md-6
        .card.mb-3
          .card-header Giới thiệu
          .card-body
            p ID: 45385118
            p Họ và tên: Long Phạm
            p Ngày sinh: 01/01/1970
            p Giới tính: Khác
            p Điện thoại:
            p Địa chỉ:
            p Tỉnh thành:
            p Số CMND:
            p Giới thiệu:
        .card
          .card-header Tài khoản
          .card-body
            p Tên tài khoản: gg.phamlong123np
            p
              | Mật khẩu: 
              a(href='#') Đổi mật khẩu
            p
              | Email: phamlong123np@gmail.com 
              span.text-success (Kích hoạt tài khoản)
            p
              | Số ĐT kích hoạt: 0775580605 
              span.text-danger (đã xác thực)
            p
              | Ngày hết hạn: Bạn chưa có 
              a(href='#') Tài khoản VIP
      .col-md-6
        .row
          .col-6
            .card.text-center.mb-3
              .card-body
                h5 Playlist
                .display-4 1
                p playlist
          .col-6
            .card.text-center.mb-3
              .card-body
                h5 Video
                .display-4 0
                p video