
nav
    a.nav-link(href=`${prefixAdmin}/products-category`) Categories
    div(class="my-account")
        div(class="text-right")
            a(
                href=`${prefixAdmin}/my-account`
                style="margin-right: 10px;"
            ) Phạm Văn Long
            a.profile(href=`${prefixAdmin}/my-account`)
                img(src)
